<div class="container">

  <%= form_for(@task, html: {class: "form-horizontal"}) do |f| %>

  <%= render "shared/errors", thing: @task, type_of_thing: "task" %>

    <div class="form-group">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :due_date, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.date_field :due_date, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="actions">
        <div class="col-sm-4 col-sm-offset-2">
          <%= f.label :completed %>
          <%= f.check_box :completed %>
          <%= f.submit class: "btn btn-primary"%>
          <%= link_to 'Cancel', tasks_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>

  <% end %>

</div>
