<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Task", new_task_path, class: "btn btn-info" %>
    </div>
    <h1>Tasks</h1>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th class="col-sm-6">Description</th>
        <th class="col-sm-2">Due on</th>
        <!-- <th>Completed?</th> -->
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class="col-sm-6"><%= link_to "#{task.description}", task_path(task) %></td>
          <td class="col-sm-2"><%= task.due_date %></td>
          <!-- <td>
            <% if task.completed %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% else %>
              <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            <% end %>
          </td> -->
          <td>
            <div class="pull-right">
              <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
              <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
