<div class="container">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <%= form_for(@user, html: { class: 'form-horizontal' }) do |user| %>
    <%= user.label :first_name %>
    <%= user.text_field :first_name %>
    <%= user.label :last_name %>
    <%= user.text_field :last_name %>
    <%= user.label :email %>
    <%= user.email_field :email %>
    <%= user.submit %>
  <% end %>



  </div>

</div>
