<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Add User", new_user_path, class: "btn btn-info"%>
    </div>
    <h1>Users</h1>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
          <td><%= mail_to user.email %></td>
          <td>
            <div class="pull-right">
              <%= link_to "Edit", edit_user_path(user[:id]), class: 'btn btn-default' %>
              <%= link_to "Delete", user_path(user[:id]), method: :delete, data: {confirm: "Are you suuure?"}, class: "btn btn-warning" %>
            </td>
        </div>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
